<nz-table class="custom-table" #basicTable [nzData]="filteredData">
    <thead>
      <tr>
        <th>#</th>
        <th>Ngân Hàng</th>
        <th>Số Tài Khoản</th>
        <th>Trạng Thái</th>
        <th>Trạng Thái FMIS</th>
        <th>Chức Năng</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ data.bankCode }}</td>
        <td>{{ data.accountNumber }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.fmisStatus }}</td>
        <td class="btn-action">
            <a><span nz-icon nzType="edit" nzTheme="outline"></span></a>
            <a (click)="deleteItem(data)"><span nz-icon nzType="delete" nzTheme="outline"></span></a>
            <a><span nz-icon nzType="reload" nzTheme="outline"></span></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
