  
  .button-action{
    margin-bottom: 16px;
    button{
        margin-right: 10px; 
        color: #fff;
        border-radius: 6px;
        
    } 
    .btn-green{
      background-color: green;
    }

    .btn-purple{
      background-color: purple;
    }
}